/* Gallery.css */
.desktop {
	display: block;
}

.mobile {
	display: none;
}

.desktop {
	margin: 20px auto;
}
.row {
	width: 100%;
	justify-content: center;
}

.collage-item {
	height: 20vh;
	width: auto;
	margin-bottom: 20px;
}

.desktop > .row:nth-child(4) {
	gap: 2vh;
}

.desktop > .row:nth-child(5) {
	gap: 0.5vh;
}

/* Media query for mobile screens */
@media only screen and (max-width: 767px) {
	.desktop {
		display: none;
	}

	.mobile {
		display: block;
	}

	.collage-item {
		height: auto;
		width: 70%;
		margin: 10px;
	}
}
