/* Gallery.css */
.landscape-section,
.portrait-section {
	margin: 20px;
}

.content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.landscape-highlight,
.portrait-highlight {
	margin-bottom: 20px;
}

.highlighted-image {
	min-height: 500px; /* Ensure highlighted image has proper height */
	transition: opacity 0.5s ease-in-out; /* Smooth transition effect */
}

.landscape-highlight img,
.portrait-highlight img {
	min-height: 550px;
}

.landscape-strips,
.portrait-strips {
	width: 100vw; /* Full viewport width */
	margin-left: calc(-50vw + 50%); /* Center the gradient strip */
	margin-right: calc(-50vw + 50%); /* Center the gradient strip */
	background: linear-gradient(to right, #1645ff, #006de9);
	padding: 10px 0; /* Adjust padding as needed */
	box-sizing: border-box;
	overflow: hidden; /* Hide any overflow */
}

.landscape-images,
.portrait-images {
	display: flex;
	flex-wrap: wrap; /* Allow images to wrap to the next row */
	justify-content: center; /* Center the images horizontally within the container */
	max-width: 100%; /* Ensure the images don't overflow the container */
	gap: 10px; /* Space between images */
}

.landscape-image,
.portrait-image {
	margin: 10px; /* Space between images */
	max-height: 140px; /* Adjust as needed */
	object-fit: cover;
	cursor: pointer; /* Change cursor on hover */
	transition: transform 0.3s ease; /* Smooth zoom effect */
}

.landscape-image:hover,
.portrait-image:hover {
	transform: scale(1.1); /* Zoom effect on hover */
}

.selected-image {
	border: 3px solid #ffeb3b; /* Highlight border color */
	border-radius: 5px; /* Rounded corners */
}
