/* Global styles */
* {
	/* border: 1px red dotted; */
}

.home-gradient {
	background: linear-gradient(to right, #1645ff 0%, #006de9 77%);
	height: 55vh;
}

.image-container {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.featured {
	width: auto;
	height: 660px;
	object-fit: cover;
}

.home-title {
	color: white;
	font-family: "Malgun Gothic", sans-serif;
	font-weight: bold;
	font-size: clamp(28px, 4vw, 80px);
	padding: 50px 0 20px;
}

.content {
	color: white;
	font-family: "Malgun Gothic", sans-serif;
	font-size: clamp(10px, 1.6vw, 26px);
	padding: 40px;
}

.line {
	background-color: white;
	height: 2px;
	width: 90%;
	margin: auto;
}

.section2 {
	padding: 20px 30px;
	margin: auto;
}

.emergency-content {
	/* margin: 10px; */
	padding-bottom: 20px;
}

.emergency {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.emergency-title {
	font-family: "Malgun Gothic", sans-serif;
	font-weight: bold;
	font-size: clamp(32px, 2.8vw, 80px);
}

.emergency-subtitle {
	font-family: "Malgun Gothic", sans-serif;
	font-weight: bold;
	font-size: clamp(22px, 2vw, 55px);
	letter-spacing: 7px;
}

.ophours {
	width: 200px;
}

.service-title {
	font-family: "Malgun Gothic", sans-serif;
	font-weight: bold;
	font-size: 40px;
}

.box {
	width: 45px; /* Consolidated width */
	border: 2px black solid;
	padding: 8px; /* Consolidated padding */
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer {
	align-items: center;
	padding: 20px;
}

.contact-info {
	display: flex;
	flex-direction: row;
	font-family: "Inter", sans-serif;
	margin: 30px;
}

.contact-item {
	display: flex;
	align-items: center; /* Center items vertically */
	gap: 18px;
	padding-bottom: 20px;
}

.contact-item i {
	font-size: 20px;
	text-align: center;
}

.contact-item h6 {
	font-size: clamp(14px, 1.6vw, 18px);
}

.contact-text {
	display: flex;
	flex-direction: column;
	line-height: 1.2;
}

.contact-text h6 {
	margin-bottom: 3px;
	font-size: clamp(14px, 1.6vw, 18px);
}

.contact-text p {
	margin: 0;
	font-size: clamp(14px, 1.6vw, 16px);
}

.logo-section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

.logo-section img {
	max-height: 80px;
	margin: 5px;
}

/* Media query for phones */
@media only screen and (max-width: 767px) {
	.home-gradient {
		height: 300px;
	}

	.home-title {
		padding: 10px;
	}
	.home .content {
		padding: 12px;
	}
	.line {
		width: 60%;
		margin: auto;
	}

	.overflow-wrapper {
		position: relative;
		overflow: hidden;
		margin-left: -32px;
	}

	.featured {
		height: 360px;
		width: auto;
	}

	.image-container {
		overflow: visible;
	}

	.featured {
		height: 320px;
		width: auto;
		margin-left: 0;
	}

	.contact-item i {
		font-size: 16px;
	}

	.box {
		width: 34px;
		padding: 6px;
	}

	.contact-info {
		margin: 5px;
		flex-direction: column;
	}

	.contact-item {
		gap: 14px;
	}

	.ophours {
		width: 110px;
	}

	.logo-section img {
		max-height: 40px;
	}

	.emergency-content {
		display: flex;
		align-items: center;
		padding-bottom: 20px;
		margin: auto;
	}

	.emergency {
		padding: 0;
		flex: 1;
		justify-content: center;
	}
}

/* Media query for tablets (medium screens) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.ophours {
		width: 160px;
	}
	.contact-info {
		margin: 5px;
		flex-direction: column;
	}
	.contact-item i {
		font-size: 16px;
		text-align: center;
	}
	.featured {
		height: 480px;
	}
}

/* Media query for small desktops (large screens) */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
	.home-gradient {
		height: 44vh;
	}
}

/* Media query for large desktops (extra-large screens) */
@media only screen and (min-width: 1441px) {
	.home-gradient {
		height: 50vh;
	}
	.emergency-content {
		margin-left: 120px;
	}
	.ophours {
		width: 220px;
	}
	.emergency-title {
		font-size: 60px;
	}
	.emergency-subtitle {
		font-size: 52px;
	}
	.emergency {
		margin-left: 20px;
	}
}
